@import "tailwindcss";
@layer components {
  .swiper-button-next,
  .swiper-button-prev {
    @apply text-red-500;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 32px;
  }
}
