@import "tailwindcss";

@font-face {
  font-family: "GeorgianUI";
  src: url("./assets/fonts/georgian-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Cinzel", sans-serif;
  font-optical-sizing: "auto";
}

.font-georgian {
  font-family: "GeorgianUI", sans-serif;
  font-size: larger;
}

/* ჰორიზონტალური სქროლი თუ გამოჩნდება ამითი ვიპოვი */
/* * {
  outline: 1px solid red;
} */
